target/
!.mvn/wrapper/maven-wrapper.jar
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/git add .


# Ignore backend build artifacts
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# IDE and Editor Files
.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.factorypath
.springBeans
.vscode/

# OS files
.DS_Store
Thumbs.db